header{
    justify-content: space-between;
    align-items: center;
}

button{
    width: 150px;
    height: 40px;
    margin-right: 20px;
    color: #6d2080;
    border: 2px solid #6d2080 !important;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 400;
}

button:hover{
    background-color: #f4d8fa;
}

mat-icon{
    padding-right: 10px;
}

main{
    font-size: 1.4rem;
    color: rgb(78, 78, 78);
}

.about{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 13%;
}

.flag{
    width: 490px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

.content-about{
    margin-left: 10px;
}

.content-about p{
    padding: 8px 0;
}

.content-about a{
    color: #6d2080;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(109, 32, 128);
}

.borders{
    margin: 40px 10%;
}

.borders > p{
    margin: 50px 0;
}

.borders > div{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4,1fr);
}

.borders img{
    max-width: 90%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

@media (max-width:1024px){
    .flag{
        width: 400px;
    }

    .content-about{
        margin-left: 20px;
    }

    .borders > div{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:768px){
    .about{
        display: block;
        margin-left: 0;
        width: max-content;
        margin: 0 auto;
    }    
    
    .borders > div{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:580px){
    header{
        padding: 0;
    }

    button{
        border: none !important;
        width: max-content;
    }

    button mat-icon{
        font-size: 2rem;
    }

    button span{
        display: none;
    }

    .flag{
        max-width: 300px;
    }

    .borders{
        margin: 40px 40px;
    }   

    .borders p{
        max-width: 100%;
        text-align: center;
    }

    .borders > div{
        grid-template-columns: 1fr;
    }

    
    .borders img{
        max-width: 70%;
    }
}

@media (max-width:450px){
    .flag{
        max-width: 280px;
    }
}
