<header>
    <img src="../../assets/footer_mova.svg" alt="Logo Mova">
</header>

<main>
    <section class="form">
        <form (ngSubmit)="cs.searchCountry()">
            <div class="filter">
                <mat-form-field appearance="fill">
                    <mat-label>Filtrar por</mat-label>
                    <mat-select [(value)]="cs.filterSelected" >
                        <mat-option>Escolha uma opção</mat-option>
                        <mat-option value="Região" (click)="getCurrentSelectOptions()">Região</mat-option>
                        <mat-option value="Capital" (click)="getCurrentSelectOptions()">Capital</mat-option>
                        <mat-option value="Língua" (click)="getCurrentSelectOptions()">Língua</mat-option>
                        <mat-option value="País" (click)="getCurrentSelectOptions()">País</mat-option>
                        <mat-option value="Código de Ligação" (click)="getCurrentSelectOptions()">Código de Ligação</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="cs.filterSelected" class="second-select">
                <mat-form-field appearance="fill">
                    <mat-label>{{cs.filterSelected}}</mat-label>
                    <mat-select [(value)]="cs.currentOption">
                        <mat-option>Escolha uma opção</mat-option>
                        <mat-option *ngFor="let x of cs.select" value="{{x}}">{{x}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button type="submit" class="btn-search" mat-raised-button [disabled]="!cs.filterSelected || !cs.currentOption">Pesquisar</button>
            </div>
        </form>
    </section>

    <section class="content">
        <div id="bg-spinner"><mat-spinner id="spinnerLoading"></mat-spinner></div>
        <div *ngIf="cs.filterSelected && cs.currentOption" class="flag">
            <ng-container *ngFor="let x of cs.selectResponse">
                <img src="{{x.flag}}" alt="Flag {{x.name}}" (click)="cs.onClickCountry(x)">
            </ng-container>
        </div>
        <div *ngIf="!cs.filterSelected && !cs.currentOption" class="flag">
            <ng-container *ngFor="let flag of cs.flagsDefault">
                <img src="https://restcountries.eu/data/{{flag}}.svg" alt="Flag {{flag}}" (click)="cs.onClickDefaulCountry(flag)">
            </ng-container>
        </div>
    </section>
</main>